* {
    --clr-main : #021b13;
    --clr-secondary: #0efdb1;
    --clr-lightwriting: #0efdb1a8 ;
    --clr-darkwriting: #021b13b2;
}
body {
box-sizing: border-box;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: var(--clr-main);
padding: 0;
color: var(--clr-darkwriting);
}
.container {
    width: 100vw;
    height: calc(100vh - 9vh);
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid: "top" 18vh
     "mid" 1fr;
    
    
}
header {
    margin: 0;
    height: 18vh;
    background-color: var(--clr-secondary);
    display: grid;
    grid: 
    "header header header header header header header" auto " .. menu ... summary summary summary summary" 40px / 5px minmax(20px, 40px) 1fr minmax(150px, 250px) 1fr;
        
}

header h1 {
    margin: 0;
    grid-area: header;
    text-align: center;
    letter-spacing: .3em;
    color: rgba(0,0,0,0.2);
    
   
}
header .sidemenu-btn {
   grid-area: menu;
}

header .listSum {
    display: flex;
    justify-content: space-around;
    grid-area: summary;
    
}
.sum p {
    display: inline-block;
    padding-top: 1em;
}
h2 , .sum p {
    margin: 0;
    
}
main {
    width: 100%;
    color: var(--clr-lightwriting);
    overflow: scroll;
   
    
}
.sidemenu {
    width: 100vw;
    max-width: 400px;
    height: calc(100vh - 18vh - 60px);
    background-color: blue;
    color: white;
    position:absolute;
    /*left: -250px;*/
    clip-path: circle(100px at -90% -50%);
    -webkit-clip-path: circle(100px at -90% -50%);
    transition: all 1s ease-in;
   
}
.sidemenu.open {
    clip-path: circle(1000px at -90% -50%);
    -webkit-clip-path: circle(1000px at -90% -50%);
}
li {
    margin-bottom: 5px;
}
.addingRemoving {
    margin: 0 ;
    padding: 10px 0;
    height: 90px;
    display: grid;
    grid: "addBtn addBtn addBtn " auto "removeAll .. removeItem" auto / minmax(50px,150px) 1fr minmax(50px,150px);
    position: relative;
    align-self: flex-end;
}
.addingRemoving::before {
    content: "";
    width: 100%;
    height: 70px;
    background-color: var(--clr-secondary);
    bottom: 0px;
    position: absolute;
}

.addBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--clr-main);
    margin: auto;
    grid-area: addBtn;
    position: relative;
    border: 1px solid var(--clr-lightwriting);
    visibility: hidden;
}


.plus {
    position: relative;
    width:30px;
    height:30px;
    transform: translate(-50% , -50%);
    top: 25px;
    left:25px;
  }
  
  .plus:before,
  .plus:after {
    content: "";
    position:absolute;
    background:var(--clr-lightwriting);
  }
  
  /* the vertical line */
  .plus:before {
    left:50%;
    top:4px; /* this defines how much black "border" there should be */
    bottom:4px;
    width:2px;
    transform:translateX(-50%);
  }
  
  /* the horizontal line */
  .plus:after {
    top:50%;
    left:4px;
    right:4px;
    height:2px;
    transform:translateY(-50%);
  }
.remove-all-btn {
    grid-area: removeAll ;

}
.remove-all-btn , .remove-finished {
    background: 0;
    border: none;
    font-weight: 600;
    color: var(--clr-darkwriting);
    z-index: 1;
    
}
.remove-finished {
    grid-area: removeItem ;
    
}
input {
    position:absolute;
    top: -30px;
    width: 90%;
    max-width: 300px;
    height: 30px;
    justify-self: center;
    text-align: center;
    background: 0;
    border: 0;
    border-bottom: 1px solid white;
    font-size: inherit;
    color: var(--clr-darkwriting);
    outline: none;

}

input:focus {
   
    border-bottom: 3px solid var(--clr-secondary);
    background-color: rgba(255, 255, 255, 0.507);
}
input:focus + .addBtn {
    visibility: visible;
}
.sidemenu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 35px;
    transition: all 1s ease-in
}
.menu-btn {
    width: 35px;
    height: 3px;
    background: white;
    border-radius: 5px;
    
}

.menu-btn::after , .menu-btn::before {
    content: "";
    width: 35px;
    height: 3px;
    background: white;
    position: absolute;
    border-radius: 5px;
    transition: all 1s ease-in

}

.menu-btn::after {
    transform: translateY(10px);
}
.menu-btn::before {
    transform: translateY(-10px);
}

.sidemenu-btn.open .menu-btn {
    transform: translate(-15px);
    background: 0;
}
.sidemenu-btn.open .menu-btn::after {
    transform: rotate(45deg) translate(10px , -10px);
}
.sidemenu-btn.open .menu-btn::before {
    transform: rotate(-45deg) translate(10px , 10px);
}